<div ng-include="'app/partials/nav.user.html'"></div>
<!-- fires viewUser function on page load -->
<div data-ng-init="uc.viewUser()">
    <!-- Profile Container for Viewing Profile Panel-->
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{{uc.user.firstName}} {{uc.user.lastName}}</h3>
            </div>
            <div class="panel-body" ng-hide="editing">
                <div class="row">
                    <div class="col-md-3 col-lg-6" align="center"> <img alt="User Pic" src="{{ uc.user.profilePic }}" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-5 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>First Name:</td>
                                    <td>{{uc.user.firstName}}</td>
                                </tr>
                                <tr>
                                    <td>Last Name:</td>
                                    <td>{{uc.user.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>{{uc.user.birthDate}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{uc.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>User Name</td>
                                    <td>{{uc.user.userName}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>{{uc.user.contactPhone}}</td>
                                </tr>
                                <tr>
                                    <td>Zip</td>
                                    <td>{{uc.user.zip}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-hide="editing">
                <a href="" ng-click="editing = !editing" type="button" class="btn btn-m btn-color"><i class="glyphicon glyphicon-edit"> Edit</i></a>
                </i>
                </a>
                <a ui-sref="createRoom" type="button" class="btn btn-m btn-color"><i class="fa fa-bed" aria-hidden="true"> Add Room</i></a>
                </i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div ng-show="editing" ng-hide="!editing">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-6 " align="center"> <img alt="User Pic" src="{{ uc.user.profilePic }}" class="img-circle img-responsive"></div>
                <div>
                  <button class="btn btn-color" ng-click="uc.pickFile()"><i class="fa fa-camera-retro" aria-hidden="true"></i> Profile Pic</button>
                </div>
                <div class=" col-md-9 col-lg-5 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>First Name:</td>
                                <td>
                                    <input ng-model="uc.user.firstName"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td>
                                    <input ng-model="uc.user.lastName"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>
                                    <input ng-model="uc.user.birthDate"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input ng-model="uc.user.email"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>User Name</td>
                                <td>
                                    <input ng-model="uc.user.userName"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>
                                    <input ng-model="uc.user.contactPhone"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>Zip</td>

                                <td>
                                    <input ng-model="uc.user.zip"></input>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div>
                <button class=" btn btn-color" ng-click="uc.updateUser(uc.user)">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!-- to do

	1. attach password to update when sending changes
	2. add filepicker
	3. format profile with messages
	4. add rooms
	 -->
