<nav class="navbar  nav-style">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="fa fa-h-square fa-lg" aria-hidden="true"></i>ostMe</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a></li>
      <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Messages</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><img class="profile-img" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/11205017_10204345555940823_1884193489374251634_n.jpg?oh=ae610a3b70bea06a398e6f076a2c5e2a&oe=59437FFB">
      <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
      </li>
    </ul>
  </div>
</nav>
