<div class="container">
  <h2 class="text-center">Your Messages</h2>
  <hr/>
    <div class="panel panel-info" ng-repeat="c in mc.conversations">
        <div class="panel-body">
            <div class="col-s-3">
                <img ng-src={{c[0].conversation.sender.profilePic}} height= "150" width = "150" alt="">
            </div>
            <div "col-s-8">
                <table class="table table-striped" >
                  <tr ng-repeat="m in mc.conversations[$index]" ng-click="edit = !edit" >
                      <td>{{ m.conversation.sender.firstName}} {{ m.conversation.sender.lastName}}</td>
                      <td>{{m.subject}}</td>
                      <td>{{m.dateCreated | date}}</td>
                      <td><textarea  cols="10" rows="2" ng-model="mc.body" ng-show="edit" ng-hide="!edit"></textarea></td>
                      <td><button class="btn btn-color" ng-click="mc.replyMessage(m)">Reply</button>
                      </td>
                  </tr>
                </table>


            </div>
       </div>
    </div>
</div>
